.App {
  background-color: aquamarine;
  color: #282c34;
}

.App h1,h2{
  text-align: center;
}

.App button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


